/* will be updated at milestone3 */
footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  
}

.body {
  background-color: rgb(218, 211, 204);
}
.logotitleclass {
    margin-top: 8px;
    margin-left: 15px;
}


.navbarclass1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navitemsclass1 {
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 15px;
    margin-right: 20px;
  }

  
  .navitemclass {
    
    padding: 10px;
    cursor: pointer;
  }

  .navitemclass:hover {
    
    background-color: brown;
    border-radius: 5px;
  }


  .active  {
    
    background-color: brown;
  }
